.circle, .small_circle {
    background: transparent;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 45%;
    left: 50%;
    animation: loader 750ms linear infinite;

    border-radius: 50%;
    border-bottom: 4px solid #50a5ff;
}

.small_circle {
    height: 75px;
    width: 75px;
    top: calc(45% + 12px);
    left: calc(50% + 12px);
    animation: loader 500ms linear infinite reverse;
}

.spinner_container {
    height: 100vh;
}

@keyframes loader {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
