.headerWrp {
    background-color: white;
    padding: 1em 0;
}

.logoutBtn,
.logoutBtn:hover {
    border: none;
    box-shadow: none;
}

.menuBtn,
.menuBtn:hover {
    color: gray;
    color: black !important;
}
