body {
    background: rgb(23, 33, 43);
    font-family: Arial;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}
